@charset "UTF-8";

body {
   background-color: #ffffff;
}

h1{
    color:#13df2e
}

h1#principal {
    text-align: center;
    background-color: #00ff11af;
    color: white;
    text-decoration: underline;
}

h2{
    color:#06f52ea8
}

.basico{
    color: #6bd367;
    font-weight: bold;
}

.intermediario{
    color: #ccd51bd6;
}

.avançado{
    color: #da5454;
}

.destaque {
    background-color: rgba(189, 189, 116, 0.398);
}