@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

* {
    margin: 0;
    padding: 0;
}

#principal, h1 {
    font-size: 100px; 
    font-weight: 500;
}

.link1 {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-family: sans-serif;
}

.link1:hover {
    text-decoration: underline;
}

div>h1 {
    font-family: 'Passion One', cursive;
    font-size: 1.5em;
}

.p1 {
    font-size: 20px;
    position: absolute;
    top: 33%;
    left: 45%;
}

.p2 {
    font-family: serif;
    font-size: 60px;
    line-height: 2em;
    padding-left: 30px;
    padding-top: 50px;
    padding-bottom: 10%;

    font-family: 'Sriracha', cursive;
}

.p3 {
    background-color: rgba(3, 15, 3, 0.869);
    width: 600px;
    height: 100vh;
    font-family: serif;
    font-size: 50px;
    line-height: 2em;
    color: white;

    font-family: 'Sriracha', cursive;

    padding-left: 30px;
}

.p4 {
    font-family: serif;
    font-size: 60px;
    line-height: 2em;
    padding-left: 30px;
    padding-top: 60px;
    font-family: 'Sriracha', cursive;
}

.p5 {
    font-family: serif;
    font-size: 60px;
    line-height: 2em;
    padding-left: 30px;
    padding-top: 50px;
    padding-top: 8%;
    padding-bottom: 10%;

    font-family: 'Sriracha', cursive;
}

.p6 {
    background-color: rgba(15, 12, 12, 0.508);
    color: white;
    width: 750px;
    height: 735px;
    font-family: serif;
    font-size: 60px;
    line-height: 2em;
    padding-left: 30px;
    padding-top: 50px;
    padding-bottom: 10%;

    font-family: 'Sriracha', cursive;
}

.p7 {
    font-size: 60px;
    line-height: 2em;
    padding-left: 30px;
    padding-top: 50px;
    padding-bottom: 5%;

    width: 750px;

    font-family: 'Sriracha', cursive;
}

.p8 {
    font-size: 60px;
    line-height: 2em;
    padding-left: 30px;
    padding-top: 50px;
    padding-bottom: 10%;

    width: 750px;

    font-family: 'Sriracha', cursive;
}

#conteudo1 {

    background-image: url('imagens/background001.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: right center;
    height: 100vh;

    padding-left: 30px;
}

#conteudo4 {
    background-image: url('imagens/background002.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: right center;

    height: 935px;

    padding-left: 30px;
}

#principal {
    background-color: black;
    color: white;
    padding: 70px;
    text-align: center;
}

#especial {
    background-color: black;
    color: white;
    position: relative;
    left: 50%;
}

#rodape {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.2em;

    padding: 10px;

    font-family: sans-serif
}

.link3{
    font-weight: 700;
    color: white;
    text-decoration: none;
}

.link3:hover {
    text-decoration: underline;
}

.link2 {
    font-weight: 700;
    color: white;
    text-decoration: none;
}

.link2:hover {
    text-decoration: underline;
}
