@charset "UTF-8";

@media screen and (min-width: 320px) and (max-width: 768px) {
    * {
        margin: 0;
        padding: 0;
    }

    header h1 {
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }

    nav {
        display: none;
    }

    .especial h2 {
        line-height: 1.5em;
    }

    .especial {
        padding: 20px;
    }

    img {
        width: 30rem;
        padding: 3rem;
    }

    .text {
        padding: 20px;
    }

    .top-jobs h2 {
        font-size: 40px;
    }

    .artigo-principal {
        padding: 5rem  2rem 2rem;
    }

    table {
        width: 400px;
    }

    .div-kr8 {
        padding: 1rem 2rem 0 2rem;
    }

    input {
        font-size: 25px;
    }
    
    .container-form {
    padding-left: 2rem;
    padding-right: 2rem;
}

}
