@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

h1 {
    border: none;
}

h2 {
    font-size: 35px;
    padding: 15px;
}

header h1 {
    position: relative;
    left: 45%;
    transform: translate(-50%);
}

nav {
    display: none;
}

.especial h2 {
    line-height: 1.5em;
}

.especial {
    padding: 20px;
}

img {
    width: 24rem;
}

.text {
    padding: 20px;
}

.top-jobs h2 {
    font-size: 40px;
}

.artigo-principal {
    padding: 5rem  2rem 2rem;
}

.div-kr8 h2 {
    display: inline-block;
}

.div-kr8 p {
    max-width: 400px;
    margin: auto;
}

table {
    width: 350px;
}

.div-kr8 {
    padding: 1rem 2rem 0 2rem;
}

.ins-img {
    overflow: hidden;
    margin: auto;
}

input {
    margin-left: 2.5rem;
    width: 80%;
    font-size: 20px;
}

span {
    position: absolute;
    left: 18%;
    font-size: 16px;
    padding: 20px 0;
    transition: 0.5s;
}

.container-form {
padding-left: 2rem;
padding-right: 2rem;
}