@charset "UTF-8";

h1 {
    border: none;
    position: relative;
    right: 15%;
}

h2 {
    font-size: 35px;
    padding: 15px;
}

nav {
    display: none;
}

.especial h2 {
    line-height: 1.5em;
}

.especial {
    padding: 20px;
}

img {
    width: 24rem;
}

.text {
    padding: 20px;
}

.top-jobs h2 {
    font-size: 40px;
}

.artigo-principal {
    padding: 5rem  2rem 2rem;
}

.div-kr8 h2 {
    display: inline-block;
}

.div-kr8 p {
    margin: auto;
}

table {
    width: 350px;
}

.div-kr8 {
    padding: 1rem 2rem 0 2rem;
}

.img-maior {
    display: none;
}

.ins-img {
    overflow: hidden;
    margin: auto;
}

input {
    width: 100%;
    font-size: 20px;
    text-align: center;
}

span {
    position: absolute;
    left: 2%;
    font-size: 16px;
    transition: 0.5s;
}

footer a {
    font-size: 17px;
}