@charset "UTF-8";

/* font dos label */
@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');

/* font dos h2 */
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&family=Shrikhand&display=swap');

/* font dos h3 */
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');

* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10%;
}

a {
    position: relative;
    padding: 5px;
}

a::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 0%;
    border: 2px solid #050538;
    opacity: 0;
    transition: 0.5s;
}


a:hover::after {
    width: 100%;
    opacity: 1;
}

nav ul li {
    display: inline-block;
    margin-right: 30px;
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    background-image: url(../imagem/main-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    line-height: 1.5em;
    padding-top: 50px;
    margin-bottom: 10%;
}

p {
    font-size: 20px;
}

.container img {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    padding: 50px;
}

.especial {
    font-family: sans-serif;
    max-width: 800px;
    margin: auto;
}

.especial h2 {
    margin-bottom: 20px;
    font-size: 35px;
}

.flex-container {
    max-width: 800px;
    margin: auto;
    margin-bottom: 10%;
    line-height: 1.8em;
}

h2 {
    font-family: 'Shrikhand', cursive;
    font-size: 60px;
}

.text h2 {
    margin-bottom: 50px;
    text-align: center;
}

.text-art {
    height: 100%;
    margin-bottom: 5rem;
    background-image: url('../imagem/main-bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.pai-container01 {
    text-align: center;
    padding: 10px;
}

.text-art div {
    max-width: 50rem;
    margin: auto;
    padding: 20px;
}

h3 {
    font-family: 'Mate SC', serif;
    font-size: 30px;
    transform: rotate(3deg);
}

h3::first-letter {
    font-size: 45px;
}

.fun-img {
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.tih2 {
    text-align: center;
    font-size: 2.5rem;
    padding: 15px;
}

.grid-text {
    margin-top: 4%;
    font-size: 20px;
}

.grid-text div {
    margin-bottom: 2rem;
}

.table-content {
    background-image: url('../imagem/main-bg.svg');
    background-size: cover;
    color: white;
    margin-bottom: 5rem;
    position: relative;
}

.artigo-principal {
    max-width: 800px;
    margin: auto;
    padding: 5rem;
}

.center {
    display: grid;
    justify-content: center;
    align-items: center;
}

#tabela {
   position: relative;
}

table {
    overflow-x: scroll;
    border-collapse: collapse;
    width: 650px;
    text-align: center;
}

th, td {
    border: 2px solid #80808057;
    padding: 10px;
}

legend {
    background-color: #050538;
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

th {
    font-weight: bold;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.819);
    color: #050538;
}

#tabela {
    overflow-x: auto;
}

tfoot {
    background-color: rgba(240, 248, 255, 0.051);
}

.ins-img {
    width: 100%;
    margin-top: 50px;
    max-width: 800px;
    justify-content: center;
    margin: auto;
    display: grid;
    grid-template-areas:
    'div-kr8 div-kr8 div-kr8'
    'pt-input pt-input pt-input'
    'img img img';
}

.div-kr8 {
    padding: 0px;
    grid-area: div-kr8;
    margin-bottom: 50px;
}

.div-kr8 h2 {
    text-align: center;
}

.img {
    margin-top: 20px;
    grid-area: img;
}

.pt-input {
    grid-area: pt-input;
}

.container-form {
    margin-top: 10%;
    margin-bottom: 10%;
}

label {
    font-family: 'Tilt Prism', cursive;
    font-weight: bold;
}

input {
    font-size: 20px;
    position: relative;
    width: 50%;
    padding: 20px;
    border: none;
    outline: none;
    border-bottom: 2px solid #050538;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, transparent, #0101ff31);
}

input:valid ~ span,
input:focus ~ span {
    transform: translatey(-32px);
}

span {
    left: 1%;
    position: absolute;
    font-size: 16px;
    padding: 20px 0;
    transition: 0.5s;
}

.inp-bo {
    margin-top: 10px;
    background-color: white;
}

.inp-bo:hover input {
    animation-name: botao-inp;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    background-image: linear-gradient(to right, #050538, transparent);
    color: black;
    font-weight: 700;
    background-size: 300%;
}