@keyframes link {
    from {
        background-position: 50%;
    }

    to {
        background-position: 100%;
    }
}

@keyframes titulo {
    to {
        color: #f5337ab0;
    }
}

@keyframes revelando {
    from {
        transform: translateX(-101%);
    }

    to {
        transform: translateX(101%);
    }
}

@keyframes botao {
    to {
        opacity: 1;
    }
}