@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin: auto;
}

.navbar {
    display: flex;
    position: sticky;
    width: 100%;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    top: 0px;
    z-index: 2;
}

.logo {
    margin-left: 7%;
}

.logo > h1 {
    font-family: 'Lobster', cursive;
    font-size: 2.2em;
    color: #180F4A;
    animation-name: titulo;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.menu {
    display: flex;
    justify-content: flex-end;
    margin-top: 2%;
    margin-right: 10%;
}


.menu a {
    text-decoration: none;
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
    color: #180F4A;
    padding: 15px;
    margin-bottom: 5%;
}

.menu a:hover {
    color: #FF2978;
    text-decoration: underline;
}

#botao {
    padding: 10px;
    text-decoration: none;
    margin-left: 30px;
    margin-top: 10px;
    border-radius: 5px;
    background-image: linear-gradient(to left, #180F4A, #FF2978);
    background-size: 300% 300%;
    color: white;
    animation-name: link;
    animation-duration: 1.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

#botao:hover {
    background-color: #FF2978;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    margin-top: 8%;
    margin-left: 8%;
}

.headline p {
    max-width: 70%;
    text-align: justify;
}

.img-headline {
    display: flex;
    margin-right: 15%;
}

.img-headline img {
    margin-bottom: 20%;
}

.headline > h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #180F4A;
    margin-bottom: 1%
}

.lipp {
    width: 50%;
    position: relative;
    overflow: hidden;
    padding: 15px;
    &::after {
        animation-name: revelando;
        animation-duration: 3s;
        animation-fill-mode: forwards;
        background-color: #FF2978;
        position: absolute;
        content: '';
        display: block;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

.contact-btn {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 20px;
    color: #FF2978;
    opacity: 0;
    animation-name: botao;
    animation-duration: 5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

.contact-btn:hover {
    color: #180F4A;
}

.pr1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    margin-top: 20px;
}

section > h2 {
    font-family: 'Lobster', cursive;
    font-size: 3em;
    text-align: center;
    color: #180F4A;
}

.efeito {
    position: relative;
    left: 46.5%;
    margin-top: 5%;
    animation-name: seta;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.servicos {
    display: flex;

    justify-content: center;
}

.card {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    width: 30%;
    margin: 20px;
    padding: 30px;
    border-radius: 10px;
    flex-grow: -1px;
    animation-name: animacao;
}

.card:hover {
    background-color: #FF2978;
    color: white;
}

.card:hover .card-text {
    display: none;
}

.card:hover img {
    display: none;
}

.card:hover .texto-oculto {
    display: block;
    padding: 20px;
}

.card h3 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 20px;
}

.texto-oculto {
    display: none;
}

.whats {
    position: fixed;

    right: 5px;
    bottom: 5px;
}

footer {
    background-image: linear-gradient(to bottom, #170f45, #0d0928, black);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10%;
    padding: 90px;
    width: 100%;
    border-top: 5px solid #FF2978;
}

.agencia {
    font-family: 'Lobster', cursive;
    color: white;
    margin-bottom: 20px;
}

.logo-rodape p {
    margin-bottom: 10%;
}