@charset "UTF-8";

@media screen and (max-width: 900px) {

.efeito {
    display: none;
}

.logo > h1 {
    text-align: center;
    padding: 15px;
}

.menu {
    display: none;
}

.lipp {
    margin-left: 10%;
    width: 50%;
}

.img-headline {
    display: none;
}

.header {
    margin-top: 20%;
    margin-left: 18px;
}

.headline h2 {
    text-align: center;
}

.headline p  {
    margin: auto;
    margin-top: 20px;
    line-height: 1.5em;
}

section {
    margin-top: 10%;
}

section > h2 {
    margin-bottom: 20px;
}

.card {
    display: block;
    margin: auto;
    height: 320px;
    padding: 10px;
    margin-bottom: 20px;
}

.card:hover {
    background-color: #FF2978;
    color: white;
}

.card:hover .card-text {
    display: none;
}

.card:hover img {
    display: none;
}

.card:hover .texto-oculto {
    display: block;
    padding: 20px;
}

.card h3 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 20px;
}

.texto-oculto {
    display: none;
}

#olhos {
    display: none;
}

.navbar {
    display: flex;
    justify-content: center;

    margin-bottom: 30px;
    padding: 15px;
}

.menu {
    display: none;
}

header p {
    line-height: 1.5em;
}

.headline h2 {
   text-align: center;
   font-size: 1.3em;
   margin: 0;
}

.img-headline {
    display: none;
}

.servicos {
    display: block;
    text-align: center;
}

.card {
    width: 88vw;
}
   
}

@media screen and (max-width: 1220px) {
    #olhos {
        display: none;
    }
}