@charset "UTF-8";

@media screen and (max-width: 900px) {

.logo > h1 {
    text-align: center;
    padding: 15px;
}

.menu {
    display: none;
}

.img-headline {
    display: none;
}

.header {
    margin-top: 20%;
    margin-left: 50px;
}

.headline h2 {
    text-align: center;
}

.headline p  {
    margin: auto;
    margin-top: 20px;
    line-height: 1.5em;
}

.contact-btn {
    margin-right: 14%;
}

section {
    margin-top: 10%;
}

section > h2 {
    margin-bottom: 20px;
}

.card {
    display: block;
    margin: auto;
    height: 320px;
    padding: 10px;
}

.navbar {
    display: flex;
    justify-content: center;

    margin-bottom: 30px;
    padding: 15px;
}

.menu {
    display: none;
}

header p {
    line-height: 1.5em;
}

.lipp {
    display: flex;
    justify-content: flex-end;
}

.headline h2 {
   text-align: center;
   font-size: 1.3em;
   margin: 0;
}

.img-headline {
    display: none;
}

.servicos {
    display: block;
    text-align: center;
}

.card {
    width: 88vw;
}
   
}

