@charset "UTF-8";

@media screen and (max-width: 1100px) {

    .menu a {
        display: none;
    }

    .dp-menu {
        display: none;
    }

    header {
        margin: auto;
        text-align: center;
        position: relative;
        width: 50vw;

        left: 30%;
        transform: translate(-50%);
    }

    .logo h1 {
        display: block;
        position: relative;

        right: 40px;
    }

    header p {
        position: relative;

        left: 50%;
        transform: translate(-50%);
    }

    .extra a {
        text-decoration: none;
        background-color: darkblue;
        color: white;
        padding: 15px;
        border-radius: 10px;
    }

    .tp1 {
        margin-top: 40%;
    }

    .img-headline {
        display: none;
    }

    .hpr1 {
        text-align: center;
    }

    .card {
        display: block;
        position: relative;
        width: 400px;

        left: 47%;
        right: 50%;
    }
 }

    