@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

header {
    position: sticky;
    top: 0;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > h1 {
    margin-left: 10%;
}

#logo a {
    color: black;
    text-decoration: none;
}

nav {
   margin-right: 15%;
}

nav ul > li {
    display: inline-block;
    padding: 20px;
}

nav > ul > li > a {
    text-decoration: none;
    font-size: 18px;
    color: black;
}

.container {
    display: flex;
    align-items: center;
    background-image: url('../imagem/main-bg.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    color: white;
    height: 100vh;
    margin-bottom: 10%;
}

.especial {
    margin-left: 10%;
}

.especial > h2 {
    font-size: 60px;
    line-height: 1.5em;
    margin-bottom: 20px;
}

.especial p {
    max-width: 70rem;
}

p {
    font-size: 2rem;
    line-height: 1.3em;
}

.container img {
    margin-right: 10%;
}

.flex-container {
    font-size: 2.3rem;
    line-height: 1.5em;
}

.flex-container h2 {
    font-size: 60px;
    text-align: center;
    margin-bottom: 5%;
}

.text > div {
   max-width: 60rem;
   margin: auto;
   text-align: center;
}

.text-art {
    background-image: url('../imagem/main-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10rem;
    height: 100vh;
}

.pai-container01 > div > h2 {
    font-size: 6rem;
}

.pai-container01 > div{
    margin-top: 10rem;
    margin-left: 24rem;
    padding-top: 10rem;
}

.pai-container01 > div p {
    margin-top: 20px;
    margin-bottom: 70px;
}

h3 {
    font-size: 4rem;
}

h3::first-letter {
    font-size: 8rem;
}

.text-art div {
    font-size: 2.5rem;
    color: white;
}

.pai-container02 {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    column-gap: 40px;
    justify-content: center;
}

.grid-img div img {
    border-radius: 50%;
}

.grid-img {
    display: grid;
    justify-content: center;
    margin-left: 10%;
}

.gallery {
    margin-bottom: 5rem;
}

.gallery h2 {
    font-size: 60px;
}

.gallery p {
    font-size: 25px;
}

.img-01 img {
    margin-right: 70px;
}

.js {
    margin-bottom: 1rem;
    padding: 15px;
}

.img-02 img {
    margin-top: 4rem;
    margin-right: 80px;
    padding: 15px;
}

.img {
    border-radius: 100%;
}

.img img:hover {
    border: 1px solid rgba(11, 11, 105, 0.377);
}

.fun-img {
    background-image: url('../imagem/main-bg.svg');
    color: white;
    height: 100vh;
    margin-bottom: 10rem;
}

.tih2 h2 {
    font-size: 6rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
    margin-left: 24rem;
    padding-top: 10rem;
}

.grid-text {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    column-gap: 40px;
    justify-content: center;
}

.grid-text div > p {
    margin-top: 40px;
    font-size: 20px;
}

.artigo-principal div {
    max-width: 70rem;
    margin: auto;
}

.artigo-principal div h2 {
    font-size: 6rem;
    text-align: center;
    margin-bottom: 50px;
}

.artigo-principal div p {
    text-align: center;
    margin-bottom: 5rem;
}

table {
    border-collapse: collapse;
    margin: auto;
    width: 70rem;
}

legend {
    font-size: 16px;
    padding: 5px;
    text-indent: 40.4rem;
}

th {
    font-size: 25px; 
    background-color: rgba(226, 226, 226, 0.739);
    font-weight: bold;
    text-align: left;
}

td {
    font-size: 20px;
}

td, th {
    border: 1px solid rgba(226, 226, 226, 0.739);
    padding: 10px;
}

.center {
    margin-bottom: 20rem;
}

.ins-img > article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('../imagem/main-bg.svg');
    color: white;
    height: 100vh;
}

.div-kr8 {
    margin-left: 15%;
}

.ins-img > article img {
    margin-left: 5rem;
    margin-top: 15rem;
    margin-right: 8rem;
}

.ins-img > article h2 {
    font-size: 6rem;
    margin-bottom: 60px;
}

.pt-input div > h2 {
    font-size: 30px;
    text-align: center;
}

form {
    margin-top: 5rem;
}

input {
    font-size: 30px;
    padding: 15px;
    margin-bottom: 3rem;
}

.form01 {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 480px);

    top: 50%;
    left: 30%;
}

#iemail {
    width: 57.6vw;
}

.botao {
    background-color: transparent;
    color: white;
    border: 5px solid white;
    width: 300px;
}

.botao:hover {
    background-color: white;
    color: black;
    transition: 0.3s ease-in-out;
}

.inp-bo {
    text-indent: 289px;
    margin-top: 20px;
}

footer {
    color: black;
    padding: 10px;
    text-align: center;
}

footer > p > a {
    font-weight: bolder;
}