@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body{
    height: 90vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(80, 22, 134);
}

main {
    
    border-radius: 10px 10px 10px 10px;
    width: 300px;
    margin: auto;
    margin-top: 3%;
    border: 2px solid rgba(0, 0, 0, 0.624);
    background-color: white;
}

div#login {
    background-color: white;
}

div h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    text-align: center;
    padding: 10px;
}

div p {
    padding: 10px;
    text-align: center;
    line-height: 1.3em;
}

div.especial {
    margin: 10px;
}

label {
    display: block;
    background-color: rgb(62, 3, 62);
    color: white;
    text-decoration: underline;
    text-align: center;
    border: 1px solid rgba(128, 0, 128, 0.358);

    padding: 5px;
}

input {
    width: 200px;
    padding: 5px;
    margin-left: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
}

input.inp, input.inp {
   background-color: #450f788f;
}

input.inp:hover, input.inp:hover {
    background-color: white;
}

input#botao {
   background-color: rgba(82, 5, 82, 0.764);
   width: 215px;
   margin: 0px;
   margin-left: 40px;
}

input#botao:active {
    background-color: white;
}

input#botsen {
    width: 215px;
    margin: 0px;
    margin-top: 5px;
    margin-left: 40px;
}

div > img { 
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0px 0px;
}